<app-header></app-header>
<main class="about">
  <h2 class="about__name">Общество с ограниченной ответственностью «Белклингруп»</h2>
  <div class="about__content">
    <img src="../../assets/logo.png" alt="Лого" class="about__image">
    <p class="about__description">ООО "Белклингруп" успешно работает на рынке уже 12 лет. За это время мы смогли зарекомендовать себя как надежного партнера, предлагающего качественную продукцию и сервис. Нашими преимуществами являются индивидуальный подход к каждому клиенту, широкий ассортимент продукции, гибкая система скидок, а также оперативная доставка товаров по всей территории страны.</p>
  </div>
</main>
<app-footer></app-footer>
