<footer class="footer">
  <h2 class="footer__heading">Общество с ограниченной ответственностью «Белклингруп»</h2>
  <ul class="footer__list">
    <li class="footer__item item">
      <h3 class="item__name">Юридический адрес:</h3>
      230028, г. Гродно, ул. Рогачевского, 37, 4-1
      р/с BY56ALFA30122703620030270000 в ЗАО «Альфа-Банк», BIC ALFABY2X
    </li>
    <li class="footer__item">
      <h3 class="item__name">УНП:</h3>
      591007732
    </li>
    <li class="footer__item item">
      <h3 class="item__name">Адрес банка:</h3>
      220030, г. Минск, ул. Мясникова, д. 70
    </li>
    <li class="footer__item item">
      <h3 class="item__name">ОКПО:</h3>
      301739564000
    </li>
    <li class="footer__item item">
      <h3 class="item__name">Мобильные телефоны:</h3>
      <ul class="item__list">
        <li>
          <a href="tel:+375298697339">8-(029)-869-73-39 (МТС)</a>
        </li>
        <li>
          <a href="tel:+375296273519">8-(029)-627-35-19 (A1)</a>
        </li>
      </ul>
    </li>
    <li class="footer__item item">
      <h3 class="item__name">Электронная почта:</h3>
      <a href="mailto: belcleangroup@mail.ru">belcleangroup&#64;mail.ru</a>
    </li>
    <li class="footer__item item">
      <h3 class="item__name">Генеральный директор:</h3>
      Живушко Леонид Николаевич (действует на основании Устава)
    </li>
  </ul>
</footer>
